* {
    box-sizing: border-box;
}

.header {
    width: 100%;
    background: #ffe284;
    height: 80px;
}

.wrap {
    width: 1300px;
    height: 100%;
    margin: 0 auto;
    max-width: 1300px;
    padding: 10px;
}

.title-area {
    float: left;
    display: block;
    position: relative;
    top: -6px;
    width: 250px;
    max-width: 250px;
    height: 100%;
}

.title-area a {
    width: 100%;
    height: 100%;
}

.title-area img {
    width: 97%;
    height: 122%;
}

.widget-area {
    float: right;
    width: 760px;
    max-width: 760px;
    height: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav li {
    height: 100%;

}

.nav li a {
    height: 100%;
    line-height: 60px;
    font-size: 17px;
    letter-spacing: 1px;
}

/* banner */
.banner {
    margin: 0 auto;
    height: 673px;
}

.commitBarometer {
    position: relative;
    padding: 0 50px;
    overflow: hidden;
}

.cs {
    position: relative;
    padding-top: 30px;
}

.commitBarometer-show {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 555px;
}


.commitBarometer-show>div {
    flex: 1;
}

.commitBarometer-show-img {
    padding: 50px;
}

.commitBarometer-show-img img {
    width: 100%;
    height: 100%;
}

.commitBarometer-show-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.commitBarometer-show-text h3 {
    margin-bottom: 50px;
    font-size: 37px;
    font-weight: bolder;
    color: #ff4d4d;
}

.commitBarometer-show-text p.commitB {
    width: 575px;
    margin-bottom: 40px;
    font-size: 18px;
}

.commitVerification {
    display: flex;

}

.commitVerification form {
    display: flex;
}

.commitVerification .commitCode {
    width: 260px;
    height: 45px;
    margin-right: 20px;
    border-radius: 20px;
    background: #f2f2f2;
    overflow: hidden;
}

.commitVerification .commitCode input {
    width: 100%;
    height: 100%;
    padding: 0 25px;
}

.commitVerification .commitConfirm {
    width: 100px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 20px;
    background: #f2f2f2;
    font-size: 15px;
    font-weight: bold;
    background: #ffd717;
}

.commitVerification .classCommit .fileBox {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 355px;
    background: #fff;
}

.classCommit .fileBox #drop-area {
    position: relative;
    width: 400px;
    height: 175px;
    border: 3px dashed #f2cc16;
}

.drop-active {
    background: rgba(231, 234, 246, 0.8);
}

.icon-segi-icon-download:before {
    color: #f2cc16;
    font-size: 80px;
}

.classCommit .fileBox #drop-area input {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.classCommit .fileBox #drop-area .picture {
    position: absolute;
    top: 26px;
    left: 50%;
    transform: translateX(-50%);
}

.classCommit .fileBox #drop-area .picture::after {
    content: "点击上传或拖拽";
    display: block;
    width: 136px;
    position: absolute;
    top: 76px;
    left: 50%;
    transform: translateX(-50%);
    color: #ccc;
    font-size: 18px;
    letter-spacing: 1px;
}

.classCommit .fileBox .closeload {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
}

.filecommitBtn {
    margin-top: 33px;
    width: 200px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    background: #ffd717;
    color: #fff;
    cursor: pointer;
}

/* 晴雨表的按钮 */
.fillInBtn {
    position: absolute;
    top: 35%;
    right: -72px;
    width: auto;
    height: 50px;
    line-height: 58px;
    padding: 0 30px;
    background: #000;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    border-radius: 25px 25px 0 0;
    text-align: center;
    transform: rotate(-90deg);
}

/* 聊天小窗口 */
.chatWindow {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    bottom: -82px;
    right: 0px;
    padding-right: 10px;
}

.chatWindow-him,
.chatWindow-me {
    padding: 13px 10px;
    background: #fff;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 0 9px rgb(0 0 0 / 30%);
}

.chatWindow-me {
    position: relative;
    padding-right: 105px;
    margin-bottom: 30px;
}

.icon-icon_sent:before {
    content: "\e60c";
    position: absolute;
    top: 50%;
    right: 8px;
    padding: 6px;
    background: rgb(227, 227, 227);
    border-radius: 4px;
    transform: translateY(-50%);
    font-size: 19px;
}

.chatWindow-worker {
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 11px rgb(0 0 0 / 70%);
    overflow: hidden;
}

.chatWindow-worker img {
    width: 100%;
    height: 100%;
}

.chatWindowRoom {
    position: absolute;
    right: 10px;
    bottom: -82px;
    width: 321px;
    height: 572px;
    background: #f6f6f7;
    border-radius: 15px;
    overflow: hidden;
    z-index: 99;
    box-shadow: 0 0 11px rgb(0 0 0 / 70%);
}

.chatWindowRoom-head {
    width: 100%;
    padding: 0 15px;
    background: #fff;
    box-shadow: 0 0 13px #ccc;
}

.welcome {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    border-bottom: 2px solid #ccc;
}

.welcome p {
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
}

.icon-gengduo:before {
    font-size: 27px;
}

.icon-shouqi:before {
    font-size: 23px;
}

.welcome-more,
.welcome-close {
    width: 30px;
    height: 30px;
}

.welcome-worker {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 65px;
    align-items: center;
}

.worker-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: #f2cc16;
    border: 2px solid #ccc;
}

.welcome-worker::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 25px;
    width: 8px;
    height: 8px;
    border: 2px solid #ccc;
    background: green;
    border-radius: 50%;
}

.worker-img img {
    width: 100%;
    height: 100%;
}

.worker-data {
    width: 176px;
    padding-left: 10px;

}

.work-good,
.work-bad {
    width: 40px;
    height: 100%;
}

.icon-buzan:before,
.icon-zans:before {
    font-size: 20px;
    line-height: 65px;
    color: #dcdcdc;
    font-weight: bold;
}

.chatWindowRoom-body {
    height: 425px;
}

.chat-show {
    width: 100%;
    height: 300px;
    background: #f2f2f2;
}

.chat-show>div {
    display: flex;
    padding: 6px;
    margin-bottom: 0px;
}

.chat-show>div.chat-show-my {
    flex-direction: row-reverse;
}



.chat-show>div .chat-show-Photo {
    width: 30px;
    height: 30px;
    background: #ffd717;
    border: 2px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
}

.chat-show>div .Say {
    max-width: 180px;
    margin: 23px 0 0 10px;
    border-radius: 0 10px 10px 10px;
    padding: 6px;
    color: rgba(0, 0, 0, .7);
    font-size: 13px;
    letter-spacing: 1px;
    word-wrap: break-word;
}



.chat-show>div.chat-show-he .Say {
    background: #fff;
    box-shadow: 0 0 8px #ffe36b;
}



.chat-show>div .Say img {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

.chat-show>div .Say img.picture {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.chat-show>div.chat-show-my .Say {
    background-color: #fdf4cf;
    box-shadow: 0 0 8px #ffe36b;
    border-radius: 10px 0 10px 10px;
}

.chat-show>div .Photo img {
    width: 100%;
    height: 100%;
}

.chat-edit {
    position: relative;
    width: 100%;
    height: 125px;
    border-top: 1px solid #f2cc16;
    background: #fff;

}

.chat-edit form {
    width: 100%;
    height: 100%;
}

.chat-edit form .icon {
    display: flex;
    width: 100%;
    height: 29px;
    border-right: 4px solid #f2cc16;
}

.chat-edit form .icon p {
    width: 30px;
    height: 20px;
    margin: 5px 2px 0px 2px;
    background: url(../../images/xiaolian.svg) center center no-repeat;
    background-size: 20px 20px;
    cursor: pointer;
}

.chat-edit form .icon p:nth-child(2) {
    background-image: url(../../images/jiandao.svg);
}

.chat-spare {
    width: 100%;
    height: 105px;
    overflow-y: scroll;
}

.Barometer-form-content::-webkit-scrollbar,
.chat-edit .chat-spare::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 4px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

.Barometer-form-content-body::-webkit-scrollbar,
.chat-show::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 0px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

.Barometer-form-content-body::-webkit-scrollbar-thumb,
.chat-edit .chat-spare::-webkit-scrollbar-thumb,
.chat-edit .chat-spare::-webkit-scrollbar-thumb,
.chat-show::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgb(0, 0, 0, .2);
    background: #ffe284;
}

.Barometer-form-content-body::-webkit-scrollbar-track,
.chat-edit .chat-spare::-webkit-scrollbar-track,
.chat-edit .chat-spare::-webkit-scrollbar-track,
.chat-show::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px #f2cc16;
    border-radius: 10px;
    background: #ffe284;

}

.facePrint {
    position: absolute;
    bottom: 128px;
    left: 4px;
    max-width: 190px;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
    background: #fff;
}

.facePrintUl {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.facePrintUl li {
    width: 20px;
    height: 20px;
    margin: 2px;
}

.facePrintUl li img {
    width: 100%;
}


.chatWindowRoom-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    background: #f2cc16;
    cursor: pointer;
}

.chat-fuWenBen {
    width: 100%;
    min-height: 100%;
    padding: 5px;
    outline: none;
}

/* 晴雨表填写报单 */
.Barometer-form,
.classCommit {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .45);
    /* clip-path CSS 属性可以创建一个只有元素的部分区域可以显示的剪切区域。 */
    /* clip-path: circle(1px at calc(100%) 0);
    transition: all .5s ease; */
    z-index: 999;
}

.Barometer-form-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    background: url(../../images/psy-knowleage-book-twins.png);
    border-radius: 20px;
    overflow-y: scroll;
}

.Barometer-form-content h3 {
    width: 100%;
    height: 50px;
    margin: 20px 20px 20px 30px;
    font-size: 28px;
    font-weight: bold;
    color: #ffd717;
}

.Barometer-form-content-body {
    width: 100%;
    height: 500px;
    overflow-y: scroll;
}

.Barometer-form-content form {
    width: 100%;
    padding: 20px;
    height: auto;
}

.Barometer-form-content form>div {
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.Barometer-form-content form>div label {
    width: 130px;
    font-size: 16px;
    text-align: right;
    color: #000;
}

.Barometer-form-content form>div input {
    outline: none;
    display: block;
    min-width: 100px;
    height: 40px;
    padding: 0 15px;
    font-size: 14px;
    background: rgb(240, 241, 244);
    border-radius: 10px;
    color: rgb(157, 153, 149);
}

.editeventBox {
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background: rgb(240, 241, 244);
}


.editevent label {
    position: relative;
    top: -85px;
}

.editeventBox-fuWenBen {
    width: 100%;
    min-height: 200px;
    padding: 10px;
    outline: none;
    background: #f0f1f4;
    border-radius: 10px;
}

.Barometer-form-commit {
    margin-left: 132px;
    padding: 8px 30px;
    background: #f2cc16;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* 关闭晴雨表 */
.Barometer-form-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
}

.icon-guanbi:before {
    font-size: 49px;
    color: #f2cc16;
    text-shadow: 0 0 3px #fff;
}

.Barometer-form-content form>div .error {
    position: absolute;
    top: 39px;
    left: 136px;
    color: red;
}

.Barometer-form-content form>div .error i {
    font-size: 12px;
}